In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input/customer-segmentation-tutorial-in-python'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/customer-segmentation-tutorial-in-python/Mall_Customers.csv

In [35]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.mixture import GaussianMixture

In [36]:
df = pd.read_csv('/kaggle/input/customer-segmentation-tutorial-in-python/Mall_Customers.csv')

In [37]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [39]:
df.isna().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [40]:
x = df.iloc[:,[3,4]]

In [41]:
x

     Annual Income (k$)  Spending Score (1-100)
0                    15                      39
1                    15                      81
2                    16                       6
3                    16                      77
4                    17                      40
..                  ...                     ...
195                 120                      79
196                 126                      28
197                 126                      74
198                 137                      18
199                 137                      83

[200 rows x 2 columns]

In [42]:
df.rename(columns={'Annual Income (k$)':'AnnualIncome(k$)',
                   'Spending Score (1-100)':'SpendingScore(1-100)',
                  }, 
          inplace=True)                         
df.head()

   CustomerID  Gender  Age  AnnualIncome(k$)  SpendingScore(1-100)
0           1    Male   19                15                    39
1           2    Male   21                15                    81
2           3  Female   20                16                     6
3           4  Female   23                16                    77
4           5  Female   31                17                    40

In [43]:
df.drop(['CustomerID'], inplace = True, axis = 1)

In [44]:
# Transforming Gender
#pd.Series(np.where(df.Gender.values == 'Male', 1, 0, inplace = True))
df.Gender[df.Gender == 'Male'] = 1
df.Gender[df.Gender == 'Female'] = 0
#df.Gender.map(dict(Male=1, Female=0))

/tmp/ipykernel_32/549054137.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Gender[df.Gender == 'Male'] = 1
/tmp/ipykernel_32/549054137.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Gender[df.Gender == 'Female'] = 0

In [45]:
df["age_cat"] = pd.cut(
                       df['Age'],
                       bins = [0,35,55,100],           # Else devise your bins: [0,20,60,110]
                       labels= ["y", "m", "s"]
                      )

In [46]:
df["income_cat"] = pd.cut(
                           df['AnnualIncome(k$)'],
                           bins = 3,
                           labels= ["l", "m", "h"]
                         )

In [47]:
df.head()

  Gender  Age  AnnualIncome(k$)  SpendingScore(1-100) age_cat income_cat
0      1   19                15                    39       y          l
1      1   21                15                    81       y          l
2      0   20                16                     6       y          l
3      0   23                16                    77       y          l
4      0   31                17                    40       y          l

In [48]:
#Drop Categorical Values
df.drop(columns=['age_cat', 'income_cat'], inplace=True)

In [49]:
# Scaling using StandardScaler
ss = StandardScaler()
ss.fit(df)
X = ss.transform(df)

In [50]:
# Perform clsutering
gm = GaussianMixture(
                     n_components = 2,
                     n_init = 10,
                     max_iter = 100)

In [51]:
gm.fit(X)

GaussianMixture(n_components=2, n_init=10)

In [52]:
gm.means_

array([[-0.88640526, -0.05395317, -0.05000195,  0.05150789],
       [ 1.12815215,  0.06866767,  0.06363885, -0.0655555 ]])

In [53]:
gm.predict(X)

array([1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 1])